body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #222;
    z-index: 10;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px; /* 確保 header 不會重疊到內容 */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
}

input[type="text"], textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcfcfc;
    color: #000;
}

textarea {
    height: 100px;
}

button {
    background-color: #00bcd4;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
